<div class="all-content">
    <nav class="main-nav container d-flex align-items-center">
        <div class="logo-container d-flex flex-column justify-content-end">
            <img src="../../assets/Logo.png" alt="" class="w-100">
            <span class="text-black-50 text-capitalize">automation tool</span>
        </div>
        <div class="nav-content d-flex justify-content-between align-items-center">
            <ul class="links">
                <li><a class="active" href="">home</a></li>
                <li><a href="">test cases</a></li>
                <li><a href="">requests</a></li>
            </ul>
            <div class="controls d-flex align-items-center">
                <div class="creat-now" role="button">
                    <span class="icon me-2"><i class="fa-solid fa-angle-down"></i></span>
                    <span>Create Now</span>
                </div>
                <div class="user-img" role="button">
                    <img src="../../assets/Client.jpg" alt="">
                </div>
            </div>
        </div>
    </nav>
</div>